@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin centerAllignedDiv($height, $width: 100%, $margin: 0, $padding: 0) {
  height: $height;
  width: $width;
  margin : $margin;
  padding : $padding;
  display: table;
  border: 1px solid #E0E0E0;
  >div {
    display: table-cell;
    vertical-align: middle;
  }

}
